.EquipeDirigeante {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    padding: auto;
    margin: auto;
    
}
.composant{
    padding: auto;
    width: 225px;
    margin-bottom: 10px;
}
.EquipeDirigeante p {
    text-align: center;
    width: 30%;
    
}
.Titre{
    text-align: center;
    margin: 20px;
}
.EquipeDirigeante span {
    font-weight: 600;
    color: #D72F2F;
}
.EquipeDirigeante img {
    height: 150px;
    width: 150px;
    border: 2px solid #D72F2F;
    border-radius: 128px;
}