.UsersListTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.UsersListTable td,
.UsersListTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.UsersListTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.UsersListTable tr:hover {
    background-color: #ddd;
}

.UsersListTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #344A53; */
    background-color: #ccc;
    color: white;
}