.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* border-bottom: 0.5px solid #ccc; */
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Toolbar nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px
}

.Logo {
    height: 100%;
    margin-left: 40px;
    margin-right: 5px;
}

.Menu {
    height: 75%;
}

.Notification {
    height: 75%;
}