.Notification {
    width: 55px;
    height: 45px;
    background-color: #ccc;
    border: 4px solid #344A53;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}

.Notification2 {
    width: 100%;
    position: relative;
}


.Notification .Notification2 {
    text-align: center;
}
