.Notification {
    background-color: white;
    font-size: 25px;
    cursor: pointer;
}

.Notification2 {
    /* width: 55px; */
    /* width: 80%; */
    /* height: 90%; */
    border-radius: 50%;
    /* position: relative; */
}


/* .Notification .Notification2 {
    text-align: center;
} */
