/*Actu*/
.ActuImg{
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 16px;
}
.ActuTitre{
    color: #D72F2F;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
}

.ActuTheme{
    color: black;
    width: 100%;
    font-weight:bold ;
    font-size: 16px;
}

.ActuDescription{
    text-align: justify;
    width: 100%;
    margin-top: -10px;

}
.Actu{
    margin-left: 20px;
    width: 50%;
}
