.HeroSection{
    background-image:url( "https://picsum.photos/1980/1080");
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.HeroBloc{
    background-color: hsl(176, 85%, 28%,50%);
    text-align: center;
    width: 48%;
    height: 40%;
    border-radius: 32px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.HeroTitre{
    color: #fff;
    font-size: 48px;
    margin-bottom: -5px;
    margin-top: -2px;
    
}
.HeroText{
    text-align: center;
}

@media (max-width:1500px) {
    .HeroSection {
        display: none;
    }
}